<h2> All Conversations </h2> 

<% if %>
    <% @current_user.receipts.count < 1 %>
    <p> You haven't had any conversations yet </p>

<% else %>

    <% @conversations.each do |conversation| %>
        <div>
        <%= link_to conversation.subject, conversation_path(conversation) %>
        </div>
    <% end %>

<% end %>

<%= link_to "New conversation", new_conversation_path %>