<div class="col-xs-1" align="center">
<h2> Home feed. Check out all posts below! <h2>

<ul>
<% @posts.each do |post| %>
  
    <%= link_to post.subject, post %> 
    
    <br>
    <% end %>
</ul>
</div>