<br>
<h2> Trade historical treasures or simply have a browse and share knowledge!</h2>
<br>
<h2> <%= link_to "Create an account", signup_path %> </h2>
<h2> <%= link_to "Already have an account? Login", login_path %></h2>